.main {
  border-bottom: 1px solid var(--mantine-color-gray-3);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--mantine-color-body);
  min-height: 4rem;
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
